body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(195, 218, 219);
    color:rgb(0, 0, 0);
    text-align: center;
}

.title {
    height: 4rem;
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(185, 215, 215); 
    overflow-x: hidden;
}

.settings {
    height: 32rem;
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(195, 220, 220); 
    overflow-x: hidden;
}

.graphnav {
    height: 34rem;
    width: 80%;
    position: absolute;
    z-index: 1;
    top: 4rem;
    right: 0;
    background-color: rgb(226, 253, 255);
    overflow-x: hidden;
}

/*Depracated, decision boundaries not required side by side with graph*/
.visnav {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(226, 253, 255);
    overflow-x: hidden;
}

/*Depracated, decision boundaries not required side by side with graph*/
.graphandvis {
    height: 28rem;
    width: 75%;
    position: absolute;
    z-index: 1;
    top: 4rem;
    right: 0;
    background-color: rgb(226, 253, 255);
    overflow-x: hidden;
}

.topnav {
    height: 38rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

.treenav {
    height: 20rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: rgb(180, 200, 200); 
    overflow-x: hidden;
}

.ensemble {
    height: 16rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgb(195, 218, 219);
    overflow-x: hidden;
}
  
.scrollbutton {
    background-color: rgb(180, 200, 200);
    height: 100%;
    width: 3rem;
    border:rgb(0, 0, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    transition: 0.25s;
}
.scrollbutton:hover {
    transition: 0.25s;
    background-color: rgb(180, 210, 210);
}

  .bottomnav {
    height: 36rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 38rem;
    left: 0%;
    background-color: rgb(195, 218, 219);
    overflow-x: hidden;
    transition: all 1s;
}

.graph {
    height: 97.5%;
    width: 97.5%;
    position: absolute;
    top: 1.25%;
    left: 1.25%;
    background-color: white;
    overflow-x: hidden;
}

.upload {
    line-height: 2rem; 
    height: 4rem;
    width: 90%;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    background-color: rgb(195, 218, 219);
    color: black;
}

.upload:hover {
    background-color: rgb(210, 235, 236);
    transition: 0.1s;
}